.logotype-component {
    display: grid;
}

.menu-component {
    cursor: pointer;
}

@media(min-width: 50px) {
    .menu-component{
        margin-top: 1px;
        margin-bottom: 1px;
    }
}

@media(min-width: 1024px) {
    .menu-component{
        margin-top: 0px;
        margin-bottom: 2px;
    }
}

@media(min-width: 1440px) {
}