.main {
    display: grid;
    justify-items: center;
    background: url('../../../assets/images/starts.png') no-repeat center;
}

.title {
    font-weight: 600;
    color: #FFFFFF;
}

.content {
    font-weight: 400px;
    font-size: 16px;
    font-weight: 24px;
    color: #FFFFFF;
    text-align: center;
}

.join-now {
    cursor: pointer;

    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;

    background: none;
    border: 1px solid #F4F4F4;
    border-radius: 67px;
}

.plants {    
    border-radius: 12px;
    
    justify-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, 245px);
    justify-content: center;

    background-color: #FCE2D7;
}

.plant {
    display: grid;
    justify-items: center;
}

.plant-title {
    font-weight: 400;
    font-size: 21.33px;
    line-height: 24px;
}

@media(min-width: 50px) {
    .main {
        border-radius: 12px;
        background-size: 100% 100%;
    }
    .icon {
        margin: 71.76px 0 7px;

        width: 48px;
        height: 43px;
        viewBox: "0px 0px 48px 43px";
    }
    .icon-rect {
        x: 1.72107px;
        y: 1.76318px;
        width: 44.5579px;
        height: 39.4737px;
    }
    .icon-path {
        d: path("M34.9032 32.4727L33.629 31.0856C33.7152 29.241 33.8574 20.2014 28.8168 14.7137C24.4551 9.96538 17.5399 9.45276 14.7691 9.45276C13.976 9.45276 13.4994 9.49374 13.4796 9.49548C13.1676 9.52291 12.9197 9.79242 12.8949 10.1321C12.863 10.5659 12.1739 20.8259 17.6882 26.8287C22.05 31.577 28.9658 32.0893 31.7366 32.0893C32.1698 32.0893 32.5041 32.0771 32.7259 32.066L34.0013 33.4545C34.1257 33.5903 34.2891 33.658 34.4524 33.658C34.6158 33.658 34.7791 33.5903 34.9035 33.4545C35.1524 33.1833 35.1524 32.7439 34.9032 32.4727ZM18.5901 25.8465C14.2271 21.0968 14.0877 13.1071 14.1419 10.8517C14.3161 10.8461 14.527 10.8423 14.7691 10.8423C17.381 10.8423 23.8901 11.3153 27.9146 15.6962C31.7825 19.9069 32.3306 26.662 32.3676 29.712L27.6597 24.5872L28.2525 19.0564C28.2933 18.6754 28.0425 18.3305 27.6929 18.2861C27.3401 18.2423 27.0261 18.5146 26.9853 18.8952L26.5096 23.3348L23.2865 19.8263L22.7882 15.7205C22.7419 15.3402 22.4197 15.0714 22.072 15.1228C21.7226 15.1732 21.4767 15.5222 21.5229 15.9025L21.803 18.2117L18.0656 14.1427C17.8168 13.8715 17.4123 13.8715 17.1634 14.1427C16.9143 14.414 16.9143 14.8537 17.1634 15.1249L20.9005 19.1932L18.7799 18.8883C18.4306 18.8383 18.1097 19.1057 18.0637 19.486C18.0175 19.8663 18.2634 20.2153 18.6128 20.2657L22.3837 20.8082L25.6068 24.3166L21.529 24.8344C21.179 24.8789 20.9286 25.2238 20.9694 25.6048C21.0074 25.9587 21.283 26.2191 21.6024 26.2191C21.6269 26.2191 21.6518 26.2178 21.677 26.2143L26.7572 25.5693L31.4692 30.699C28.7039 30.6653 22.4838 30.0853 18.5901 25.8465Z");
    }
    .title {
        margin: 6px 17.313019% 7px;

        text-align: center;
        font-size: 21.33px;
        line-height: 31px;
    }
    .join-now {
        margin: 6px 62px 106.76px;
        padding: 11px 62px;

        font-size: 16.33px;
    }
    .plants {
        margin: -68px 8.86426592% 30px 8.587257%;

        padding: 71px 0;

        row-gap: 50px;
        column-gap: 44.5px;
    }
    .plant {
        row-gap: 18px;
    }
}

@media(min-width: 1024px) {
    .main {
        border-radius: 0px;
        background-size: cover;
    }
    .icon {
        margin: 110.47px 0 23px;

        width: 94px;
        height: 84px;
        viewBox: 0px 0px 94px 84px;
    }
    .title {
        margin: 22px 13.8009049% 10px;

        font-size: 37.9px;
        line-height: 36px;
    }
    .content {
        margin: 10px 13.235% 15px;
    }
    .join-now {
        margin: 15px 80px 239.97px;

        padding: 16px 80px;
        font-size: 21.33px;
    }
    .plants {
        margin: -191.5px 7.975113% 43.75px;

        padding: 71px 0;
        row-gap: 50px;
        column-gap: 44.5px;
    }
    .icon-rect {
        x: 1.94208px;
        y: 1.97162px;
        width: 90.1158px;
        height: 80.0568px;
    }
    .icon-path {
        d: path("M68.5723 63.7097L66.0513 60.9652C66.2217 57.3158 66.5032 39.4307 56.5302 28.5731C47.9004 19.1785 34.2185 18.1642 28.7365 18.1642C27.1674 18.1642 26.2243 18.2453 26.1852 18.2488C25.5679 18.303 25.0774 18.8363 25.0282 19.5083C24.9651 20.3666 23.6017 40.6662 34.512 52.5429C43.1418 61.9376 56.825 62.9511 62.307 62.9511C63.1641 62.9511 63.8256 62.927 64.2643 62.9051L66.7879 65.6523C67.034 65.9209 67.3572 66.0549 67.6804 66.0549C68.0036 66.0549 68.3267 65.9209 68.5729 65.6523C69.0652 65.1156 69.0652 64.2464 68.5723 63.7097ZM36.2964 50.5996C27.6641 41.2022 27.3883 25.3944 27.4956 20.9321C27.8402 20.9211 28.2574 20.9135 28.7365 20.9135C33.9042 20.9135 46.7826 21.8494 54.7452 30.5171C62.3979 38.848 63.4823 52.2131 63.5555 58.2476L54.2408 48.108L55.4136 37.1652C55.4944 36.4114 54.9983 35.7291 54.3065 35.6411C53.6084 35.5546 52.9873 36.0933 52.9065 36.8464L51.9654 45.6302L45.5883 38.6886L44.6024 30.5652C44.5109 29.8128 43.8734 29.2809 43.1854 29.3826C42.4942 29.4822 42.0075 30.1728 42.0991 30.9252L42.6532 35.4941L35.2587 27.4435C34.7664 26.9068 33.966 26.9068 33.4737 27.4435C32.9807 27.9801 32.9807 28.8501 33.4737 29.3867L40.8676 37.436L36.672 36.8326C35.9808 36.7337 35.3458 37.2628 35.2549 38.0152C35.1634 38.7677 35.6501 39.4582 36.3412 39.5579L43.802 40.6312L50.1791 47.5727L42.111 48.5973C41.4186 48.6852 40.9231 49.3676 41.0039 50.1214C41.079 50.8216 41.6244 51.3369 42.2562 51.3369C42.3048 51.3369 42.3541 51.3342 42.4039 51.3273L52.4552 50.0513L61.778 60.2004C56.3068 60.1338 44.0002 58.9863 36.2964 50.5996Z");
    }
}

@media(min-width: 1440px) {
    .main {
        border-radius: 12px;
    }
    .join-now {
        margin-bottom: 239.47px;
    }
    .plants {
        margin: -191px 5.1923078% 59px;

        padding: 119px 0;

        gap: 17px;
    }
    .plant {
        row-gap: 11px;
    }
}