.the-down-component {
    display: grid;
    place-items: center;
}

.wellbeing-component {
    background-color: #F4F4F4;
    border-radius: 12px;
    text-align: center;

    display: grid;
    place-items: center;
}

@media(min-width: 50px) {
    .the-down-component {
        margin-top: 31px;
        margin-bottom: 18px;

        grid-template-areas: 'title' 'content' 'button' 'first-wrap' 'second-wrap';
    }
    .wellbeing-component {
        margin-top: 18px;
        margin-bottom: 18px;

        grid-template-areas: 'title' 'first' 'second';
    }
}

@media(min-width: 1024px) {
    .the-down-component {
        margin-top: 29px;
        margin-bottom: 42px;

        grid-template-areas:    'title title'
                                'content content'
                                'button button'
                                'first-wrap second-wrap';
        column-gap: 28px;
    }
    .wellbeing-component {
        margin-top: 41px;
        margin-bottom: 40px;

        grid-template-areas:    'title title'
                                'first second';
    }
}

@media(min-width: 1440px) {
    .the-down-component {
        margin-top: 71px;
        margin-bottom: 54px;

        column-gap: 48px;
    }
    .wellbeing-component {
        margin-top: 53px;
        margin-bottom: 52px;

        grid-template-areas:    'title title image'
                                'first second image';
    }
}