.the-down-component {
    display: grid;
    justify-items: center;
}

.wellbeing-component {
    background-color: #F4F4F4;
    border-radius: 12px;
    text-align: center;

    display: grid;
}

.frash-organic-produce {
    font-family: 'Poppins';

    display: grid;
}

@media(min-width: 50px) {
    .the-down-component {
        margin-top: 31px;
        margin-bottom: 18px;

        grid-template-areas: 'title' 'content' 'button' 'first-wrap' 'second-wrap';
    }
    .wellbeing-component {
        margin-top: 18px;
        margin-bottom: 18px;

        grid-template-areas: 'title' 'first' 'second';
        justify-items: center;
    }
    .frash-organic-produce {
        margin-top: 18px;
        margin-bottom: 18px;

        grid-template-areas: 'image' 'title' 'content' 'list';
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, max-content);
        justify-items: center;
    }
}

@media(min-width: 1024px) {
    .the-down-component {
        margin-top: 29px;
        margin-bottom: 42px;

        grid-template-areas:    'title title'
                                'content content'
                                'button button'
                                'first-wrap second-wrap';
        column-gap: 28px;
    }
    .wellbeing-component {
        margin-top: 41px;
        margin-bottom: 40px;

        grid-template-areas:    'title title'
                                'first second';
        column-gap: 81.5px;
    }

    .frash-organic-produce {
        margin-top: 40px;
        margin-bottom: 40px;

        grid-template-areas:    'image title'
                                'image content'
                                'image list';
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-rows: repeat(2, max-content) 1fr;
        justify-items: left;
    }
}

@media(min-width: 1440px) {
    .the-down-component {
        margin-top: 71px;
        margin-bottom: 54px;

        column-gap: 48px;
    }
    .wellbeing-component {
        width: 100%;
        margin-top: 53px;
        margin-bottom: 52px;

        grid-template-areas:    'title title image'
                                'first second image';
        grid-template-columns: max-content max-content 1fr;
        column-gap: 0;
    }
    .frash-organic-produce {
        margin-top: 52px;
        margin-bottom: 52px;
    }
}