.header-component {    
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    
    justify-content: space-between;
}

.main-component {
    display: grid;
}

.footer-component {
    display: grid;
    row-gap: 36px;

    font-family: 'Poppins';
    background-color: #285E67;
}

@media(min-width: 50px) {
    .header-component {
        margin: 27px 8.1395348% 32px;

        column-gap: 35px;
    }
    .footer-component {
        padding: 78px 125px 78px 139px;
        grid-template-areas: 'logotype' 'navigation' 'social-media';
    }
}

@media(min-width: 1024px) {
    .header-component {
        margin: 32px 6.738281% 29px 8.59375%;

        column-gap: 70px;
    }
}

@media(min-width: 1440px) {
    .header-component {
        margin: 32px 4.7916666% 71px 6.111111%;
    }
    .footer-component {
        padding-right: 139px;
        grid-template-areas:    'logotype navigation'
                                'social-media social-media';
        gap: 36px;
    }
}