.logotype {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    column-gap: 12px;
    place-items: center;

    text-decoration: none;
}

.logotype-text {
    color: #285E67;
    
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 21.33px;
    line-height: 24px;
}