.logotype {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    column-gap: 12px;
    place-items: center;

    text-decoration: none;
}

.logotype-text {
    color: #285E67;
    
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 21.33px;
    line-height: 24px;
}

@media(min-width: 50px) {
    .logotype-image-circle {
        fill: #F4F4F4;
    }
}

@media(min-width: 1024px) {
    .logotype-image-circle {
        fill: #D0D0D0;
    }
}